:root {
    /* Color Palette - Light Mode (Default) */
    --brand-primary: #efaf29; /* kuning keemasan */
    --brand-secondary: #eb6825; /* oranye */
    --brand-dark: #4b271b; /* cokelat tua */

    --bg-primary: #f8fafc; /* gray-50 */
    --bg-secondary: #ffffff; /* white */
    --bg-header: var(--brand-dark);
    --bg-footer-main: var(--brand-dark);
    --bg-brand-light: #fef3c7; /* amber-100 */

    --text-primary: #1e293b; /* slate-800 */
    --text-secondary: #64748b; /* slate-500 */
    --text-header: #ffffff;
    --text-footer: #d1d5db; /* gray-300 */

    --border-primary: #e2e8f0; /* slate-200 */
}

.dark {
    /* Color Palette - Dark Mode */
    --bg-primary: #18110e; /* Dark Brown Base */
    --bg-secondary: #2a160e; /* Darker Brown */
    --bg-brand-light: #4b271b;

    --bg-footer-main: #2a160e;
    
    --bg-header: #4b271b;

    --text-primary: #e2e8f0;
    --text-secondary: #94a3b8;
    --text-header: #ffffff;
    --text-footer: #d1d5db; 
    --brand-dark: #fef3c7;

    --border-primary: #4b271b;
}

body { 
  font-family: 'Poppins', sans-serif; 
}

select option {
    background-color: var(--bg-secondary);
    color: var(--text-primary);
}

.sidebar-btn.active {
    background-color: var(--bg-brand-light);
    color: var(--brand-dark);
    font-weight: 600;
}
.dark .sidebar-btn.active {
    background-color: #4b271b;
    color: var(--text-primary);
}

@media print {
    .no-print { display: none; }
    body { padding: 0; margin: 0; background-color: white; color: black; }
    .main-container { box-shadow: none !important; border: none !important; margin: 0; padding: 0; background-color: white; }
}